#jinja2: lstrip_blocks: "True", trim_blocks: "True"
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: "{{ ingress_name }}"
  annotations:
    kubernetes.io/ingress.class: traefik
{% if tls_enabled %}
    cert-manager.io/cluster-issuer: "{{ cert_issuer }}"
{% endif %}
spec:
  rules:
    - host: "api.{{ domain }}"
      http:
        paths:
          - backend:
              serviceName: auth
              servicePort: 80
            path: "{{ auth_path }}"
    - host: "{{ admin_path }}.{{ domain }}"
      http:
        paths:
          - backend:
              serviceName: admin
              servicePort: 80
            path: /
    - host: "*.{{ account_path }}.{{ domain }}"
      http:
        paths:
          - backend:
              serviceName: account
              servicePort: 80
            path: /
{% if tls_enabled %}
  tls:
    - hosts:
        - "{{ domain }}"
        - "*.{{ domain }}"
      secretName: "{{ domain }}"
    - hosts:
        - "{{ account_path }}.{{ domain }}"
        - "*.{{ account_path }}.{{ domain }}"
      secretName: "{{ account_path }}.{{ domain }}"
{% endif %}
